@font-face {
  font-family: "Wonder Unit Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/WonderUnitSans-Regular.woff2");
}

@font-face {
  font-family: "Wonder Unit Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/WonderUnitSans-RegularItalic.woff2");
}

@font-face {
  font-family: "Wonder Unit Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/WonderUnitSans-RegularBold.woff2");
}

@font-face {
  font-family: "Wonder Unit Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/WonderUnitSans-BoldItalic.woff2");
}

:root {
  --color-primary: #2b4162;
  --color-background: #fcfcfc;
  --color-text-loud: black;
  --color-text-normal: #222;
  --color-text-quiet: #777;
  --color-border: #eee;
  --font-title: "Rubik", sans-serif;
  --font-body: "Wonder Unit Sans", sans-serif;
  --font-meta: "Wonder Unit Sans", sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #f1f1f1;
  }
}

html {
  background-color: var(--color-background);
  color: var(--color-text-normal);
  font-family: var(--font-body);
  font-size: calc(13px + 0.25vw);
  height: 100%;
}

body {
  min-height: 100%;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

footer,
header,
main,
nav {
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: 42rem;
}

header {
  color: var(--color-text-loud);
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

nav {
  display: flex;
  font-family: var(--font-meta);
  font-size: 0.9rem;
  text-transform: uppercase;
  justify-content: space-between;
  margin-top: 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul:first-child li {
  padding-right: 1rem;
}
nav ul:last-child li {
  padding-left: 0.5rem;
}
nav ul a:link,
nav ul a:visited {
  border-bottom: none;
}
nav ul.icons a:hover,
nav ul.icons a:active {
  color: var(--color-primary);
  background-color: inherit;
}

hr {
  height: 1px;
  background-color: var(--color-border);
}

footer {
  color: var(--color-text-quiet);
  font-family: var(--font-meta);
  font-size: 0.75rem;
  margin-top: 3rem;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: var(--color-text-loud);
  font-family: var(--font-title);
  font-weight: 500;
  letter-spacing: -0.01em;
}

a {
  color: var(--color-primary);
}
a:link,
a:visited {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}
a:hover,
a:active {
  border-radius: 2px;
  background-color: var(--color-primary);
  color: var(--color-background);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

section.narrow {
  margin-left: 7vw;
  margin-right: 7vw;
}
section h1 {
  font-size: 1.25rem;
  text-align: center;
}
section.posts p {
  margin-bottom: 0.5rem;
}
section.posts time {
  font-family: var(--font-meta);
  font-size: 0.7rem;
}

article .byline {
  color: var(--color-text-quiet);
  font-family: var(--font-meta);
  font-size: 0.85rem;
  margin-bottom: 2rem;
}
article author {
  display: block;
}
article blockquote {
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

pre.astro-code {
  background-color: var(--color-background) !important;
}
pre > code {
  font-family: var(--font-mono);
  font-size: 0.75rem;
}
/* From https://github.com/shikijs/shiki/issues/3 */
code {
  counter-reset: step;
  counter-increment: step 0;
}
code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
