/* @font-face {
  font-display: swap;
  font-family: "Mona Sans";
  font-style: normal;
  font-weight: 400 700;
  src: url("../fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("../fonts/Mona-Sans.woff2") format("woff2-variations");
} */

:root {
  --color-header-text: #fdfdfd;
  --color-header-bg: #1e2022;
  --color-accent1: #52616b;
  --color-accent2: #c9d6df;
  --color-accent3: #f0f5f9;
  --color-background: #fefefe;
  --color-text-loud: black;
  --color-text-normal: #222;
  --color-text-quiet: #707070;
  --color-text-hyperlink: #c70039;
  --color-text-hyperlink-hover: white;
  --color-text-hyperlink-hover-bg: var(--color-text-hyperlink);
  --color-text-blockquote: #111d5e;
  --color-text-code-bg: #f0f5f9;
  --font-title: ivypresto-headline, sans-serif;
  --font-title-weight: 400;
  --font-body: freight-sans-pro, sans-serif;
  --font-body-weight: 400;
  --font-meta: freight-sans-pro, sans-serif;
  --font-meta-weight: 400;
  --font-mono: Menlo, Consolas, "Roboto Mono", "Ubuntu Mono", ui-monospace, monospace;
}

html {
  background-color: var(--color-background);
  color: var(--color-text-normal);
  font-family: var(--font-body);
  font-size: 18px;
  font-weight: var(--font-body-weight);
  height: 100%;
}

body {
  min-height: 100%;
}

footer,
header,
main,
nav {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 48rem;
}

.headerContainer {
  background-color: var(--color-header-bg);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

header {
  color: var(--color-header-text);
  font-family: var(--font-title);
  font-size: 1.75rem;
  font-weight: var(--font-title-weight);
  margin-bottom: 0.25rem;
}

nav {
  display: flex;
  font-family: var(--font-meta);
  font-size: 0.9rem;
  font-weight: var(--font-meta-weight);
  text-transform: uppercase;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 1rem;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul:first-child li {
  padding-right: 1rem;
}
nav ul:last-child li {
  padding-left: 0.5rem;
}
nav ul a:link,
nav ul a:visited {
  text-decoration: none;
  color: var(--color-header-text);
  padding: 2px 4px;
}
nav ul a:hover,
nav ul a:active {
  background-color: var(--color-text-hyperlink);
}
nav ul.social li {
  text-transform: none;
}

hr.headerAccent1 {
  height: 8px;
  background-color: var(--color-accent1);
  margin: 0;
  padding: 0;
}

hr.headerAccent2 {
  height: 5px;
  background-color: var(--color-accent2);
  margin: 0;
  padding: 0;
}

hr.headerAccent3 {
  height: 3px;
  background-color: var(--color-accent3);
  margin: 0;
  padding: 0;
}

footer {
  color: var(--color-text-quiet);
  font-family: var(--font-meta);
  font-size: 0.75rem;
  font-weight: var(--font-meta-weight);
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}
footer p {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4 {
  color: var(--color-text-loud);
  font-family: var(--font-title);
  font-weight: var(--font-title-weight);
  /* letter-spacing: -0.01em; */
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  letter-spacing: normal;
}

strong {
  font-weight: 600;
}

a {
  color: var(--color-text-hyperlink);
}
a:link,
a:visited {
  color: var(--color-text-hyperlink);
  text-decoration: none;
}
a:hover,
a:active {
  border-radius: 2px;
  background-color: var(--color-text-hyperlink-hover-bg);
  color: var(--color-text-hyperlink-hover);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

section.narrow {
  margin-left: 7vw;
  margin-right: 7vw;
}
section h1 {
  font-size: 1.25rem;
  text-align: center;
}
section.posts p {
  font-family: var(--font-title);
  margin-bottom: 0.5rem;
}
section.posts time {
  font-family: var(--font-meta);
  font-size: 0.7rem;
}

article .byline {
  color: var(--color-text-quiet);
  font-family: var(--font-meta);
  font-size: 0.75rem;
  font-weight: var(--font-meta-weight);
  margin-bottom: 2rem;
}
article author {
  display: block;
}
article h1 + article p {
  font-size: 1.5rem;
}
article h1,
article h2,
article h3,
article p,
article ul,
article ol,
article dl,
article table,
article pre {
  margin-bottom: 1.75rem;
}
article .description {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
article :not(pre) code {
  background-color: var(--color-text-code-bg);
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 1rem;
}
article blockquote {
  color: var(--color-text-blockquote);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
article ol,
article ul,
article dl {
  margin-left: 1.5rem;
}
article ul li,
article ol li {
  margin-bottom: 0.75rem;
}
article ul li p,
article ol li p {
  margin: 0;
}
article dl dt {
  font-weight: bold;
  font-style: normal;
}
article table {
  font-size: 0.9rem;
}
article .footnotes h2 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
article .footnotes ol {
  font-size: 0.9rem;
  margin-left: 0;
}
article .footnotes p,
article .footnotes pre {
  margin-bottom: 1rem;
}
article .footnotes code {
  font-size: 0.8rem;
}

pre > code {
  font-family: var(--font-mono);
  font-size: 0.7rem;
}
/* 
 * Line numbering from https://github.com/shikijs/shiki/issues/3
 * Unfortunately does not work on Safari, because the line numbers 
 * become part of what's selected.
 *
code {
  counter-reset: step;
  counter-increment: step 0;
}
code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
*/
