---
import { SITE_TITLE } from "../config";
import Page from "../layouts/Page.astro";
---

<Page title={`Privacy Policy | ${SITE_TITLE}`} description="Privacy policy">
  <article>
    <h1>Privacy Policy</h1>
    <p
      >I don't collect any personal information. Nothing. No IP addresses, no browsers, no
      devices, no names, no emails... nothing.
    </p>
    <p>I don't use cookies, either.</p>
    <p
      ><a href="https://vercel.com">Vercel</a> is the company that hosts this website. I am a customer
      of Vercel, and they process information on my behalf. I have no control over what information
      they process, and I have no access to that information. Their privacy policy can be found
      <a href="https://vercel.com/legal/privacy-policy">here</a>.
    </p>
    <p
      >If you have questions about this policy, you can email me at "outlook.com", username
      "undergroundecho".
    </p>
    <p>Last updated on 12 Oct 2022.</p>
  </article>
</Page>
