---
import { SITE_TITLE } from "../config";
import Page from "../layouts/Page.astro";
---

<Page title={`Privacy Policy | ${SITE_TITLE}`} description="Privacy policy">
  <article>
    <h1>Privacy Policy</h1>
    <p
      >I don't collect any personal information. Nothing. No IP addresses, no browsers, no
      devices, no names, no emails... nothing.
    </p>
    <p><a href=""></a></p>
  </article>
</Page>
