---
export interface Props {
  link: string;
}

const { link } = Astro.props;
---

<p><strong>Comments</strong></p>

<ul>
  <li>
    <p
      ><a href={link}>Join the conversation</a> for this post on GitHub Dicussions. Thanks for
      your feedback 🎉
    </p>
  </li>
</ul>
