---
const year = new Date().getFullYear();
const copyrightDate = year > 2022 ? `2022-${year}` : "2022";
---

<footer>
  <p>Copyright &copy; {copyrightDate} Seth M. Livingston</p>
  <p><a href="/privacy">Privacy Policy</a></p>
  <p>
    Made with ❤️ using <a href="https://astro.build">Astro</a> and
    <a href="https://ungoldman.com/style.css">Style.css</a>.
  </p>
</footer>
