---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>{SITE_TITLE}</header>

<nav>
  <ul>
    <li><HeaderLink href="/">Home</HeaderLink></li>
    <li><HeaderLink href="/blog">Blog</HeaderLink></li>
  </ul>
  <ul class="social">
    <li>
      <a href="https://github.com/sethlivingston">GitHub</a>
    </li>
    <li>
      <a href="https://twitter.com/sethltx">Twitter</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/sethlivingston/">LinkedIn</a>
    </li>
  </ul>
</nav>

<hr />
