---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<div class="headerContainer">
  <header>{SITE_TITLE}</header>

  <nav>
    <ul>
      <li><HeaderLink href="/">Home</HeaderLink></li>
      <li><HeaderLink href="/blog">Posts</HeaderLink></li>
    </ul>
  </nav>
</div>
